# Misc
*.log
*.pyc
*.swp
.DS_Store
*.iml

# IDE
.idea/
.vscode/

# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/

# Android
.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.jks
key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/.last_build_id

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Generated
**/generated_plugin_registrant.dart